a.warehouse-quick-look {  display: none;
}
#search-warehouses-wrapper #filter {  padding-bottom: 10px;  border-bottom: 1px solid #ccc;  height: 90px;
}
#search-warehouses-wrapper #filter .search {  float: left;  margin-right: 10px;
}
#search-warehouses-wrapper #filter .address input {  width: 100%;}
#search-warehouses-wrapper #google-map-content{  width:100%;  margin:0;  padding:0;  border:none;}
#search-warehouses-wrapper #google-map-content td,#search-warehouses-wrapper #google-map-content tr {  padding:0;  margin:0;}#search-warehouses-wrapper #google-map-content .sidebar {  padding-right: 10px;}#search-warehouses-wrapper .sidebar {  width: 40%;}
#search-warehouses-wrapper .map {  width: 60%;}#search-warehouses-wrapper #google-map {  width: 100%;  height: 500px;}#search-warehouses-wrapper #google-map-content td {  vertical-align: top;}#warehouses-search-results {  height: 380px;  overflow-x: hidden;  overflow-y: auto;  margin-top: 20px;}#warehouses-search-results .warehouse {  padding-bottom: 10px;  padding-top: 10px;  padding-left: 10px;  border-bottom: 1px solid #eee;  cursor: pointer;}#warehouses-search-results .warehouse.active {  background: #eee;}.popular-searches {  font-size: .9em;}.popular-searches li {  list-style: none;  display: inline;  margin-right: .5em;}.google-map-container {  position: relative;}#search-warehouses-wrapper .loading-overlay {  display: none;  position: absolute;  z-index: 1000;  top:0;  left:0;  height:100%;  width:100%;  background: rgba(255,255,255,.8) url('loading.gif') 50% 50% no-repeat;  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);  filter: alpha(opacity = 80);};#search-warehouses-wrapper.loading {  overflow: hidden;}#search-warehouses-wrapper .address {  margin-bottom: 10px;}#search-warehouses-wrapper.loading .loading-overlay {  display: block;}